*{
    padding: 0;
    margin: 0;
}
.container{
    background-image: url(../img/pexels-codioful-\(formerly-gradienta\)-7130499.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    min-width: 100%;
    min-height: 100vh;
}
.card {
    border-radius: 8px;
    margin: auto;
    margin-top: 40px;
    background-color: #fff;
    width: 300px;
    box-shadow: 0 2px 18px -2px rgba(0, 0, 0, 0.5);
    padding-top: 15px;
    padding-bottom: 20px;
}
img{
    display: block;
    margin: auto;
    height: 90px;
    width: 150px;
}
.from-input input{
    background: transparent;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    display: block;
    margin: auto;
    width: 250px;
    height: 35px;
    padding-left: 5px;
}
.from-input{
    margin-top: 15px;
}
.btn{
    height:35px;
    display: block;
    margin: auto;
    border-radius: 8px;
    color: #fff;
    background-color: palevioletred;
    width: 252px;
    border: none;
    margin-top: 15px;
}
.gth{
    display: inline-block;
    padding-left: 25px;
    padding-right: 10px;
    margin-top: 5px;
    font-size: 10px;
}
.gasss{
    display: inline-block;
    padding-left: 25px;
    padding-right: 10px;
    margin-top: 15px;
    font-size: 12px;
}